# Ignore virtual environment and system files
.venv/
__pycache__/
.ipynb_checkpoints/

# Ignore saved NumPy data
flattened_arrays*/
mean_images*/
projected_data*/
reconstructed_images*/
eigen_data*/
*.npy
